<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="catall.html">Cat All</a></li>
            <li><a href="">Customer</a></li>
            <li><a href="">Order Cat</a></li>
            <li><a href="">Breed</a></li>
        </ul>
    </nav>
    <main>
        <h1>Cat</h1>
        <center>
        <table class="list" style="width: 50%;">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>BREED</th>
                <th>Availability</th>
                <th>Action</th>
            </tr>
            <tr>
               <td>1</td>
               <td>Somchai</td>
               <td>Pesians</td>
               <td>In stock</td>
               <td>Previews Edit Delete</td>
            </tr>
        </table>
        <button class="CreateNewCat" onclick="document.location='addcat.ejs'">Create New Cat</button> 
        </center>

    </main>
    
</body>
</html>