<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Shop</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
         <ul>
            <li><a href="/cat"><b>รายการแมว</b></a></li>
            <li><a href="/customer"><b>ลูกค้า</b></a></li>
            <li><a href="/order"><b>รายการ</b></a></li>
            <li><a href="/breed"><b>สายพันธุ์แมว</b></a></li>
            <li><a href="/report"><b>รายงานการซื้อ</b></a></li>
        </ul>
    </nav>
    <main>
        <h1>Welcome to Cat Shop</h1>
    </main>
</body>

</html>