<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Shop</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="/cat">Cat</a></li>
            <li><a href="/customer">Customer</a></li>
            <li><a href="/order">Order</a></li>
            <li><a href="/breed">Breed</a></li>
        </ul>
    </nav>
    <main>
        <h1>Welcome to Cat Shop</h1>
    </main>
</body>

</html>